<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Points board | GUDLFT Registration</title>
</head>

<body>
    <h2>Here to <a href="{{url_for('logout')}}">Login</a></h2>
    <p>Bookable: 1 point for 1 place and maximum 12 places.</p>
    <hr />
    <table style="border: 1px solid #333;">
        <thead style="background-color: #333;
        color: #fff;">
            <tr>
                <th colspan="2">The table header</th>
            </tr>
        </thead>
        <tbody>
            {%for club in clubs%}
            <tr>
                <td style="border: 1px solid #333;">{{club.name}}</td>
                <td style="border: 1px solid #333;">{{club.points}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>


</body>

</html>